/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: "Inter", "Segoe UI", Roboto, "Helvetica Neue", sans-serif; }

.btn {
    font-weight: 600;
}

.inline-input {
    width: auto;
    margin-right: 8px;
}

.inline-button {
    width: auto;
}

.form-error {
    margin-top: 0.5em;
    color: #E53D00;
    font-size: small;
    font-weight: 500;
}