<div class="wrapper text-center" *ngIf="plan.id">
    <div class="top">
        <h2>Code: {{ plan.code }}</h2>
        <p *ngIf="choice">
            The winner is: <span class="font-weight-bold">{{ choice }}</span>
        </p>
        <app-venue-form *ngIf="!choice" [plan]="plan" (update)="onNotifyUpdate($event)"
            class="wrapper"></app-venue-form>
    </div>
    <div class="bottom">
        <hr>
        <div class="row row-button">
            <form (ngSubmit)="closePlan()" #closeForm="ngForm" *ngIf="plan.active">
                <button type="button" (click)="goHome()"
                  class="btn btn-info"><fa-icon [icon]="faHome"></fa-icon></button>
                <button type="button" (click)="revealLink()"
                  class="btn btn-info"><fa-icon [icon]="faShareSquare"></fa-icon></button>
                <button type="submit" [disabled]="!isValidPlan()"
                  class="btn btn-info">Make the choice</button>
            </form>
        </div>
        <div class="row row-input" *ngIf="showLink">
            <input type="text" id="link" name="link" [(ngModel)]="url"
                class="form-control inline-input">
            <button type="button" (click)="copyLink()"
              class="btn btn-outline-info inline-button"><fa-icon [icon]="faCopy"></fa-icon></button>
        </div>

        <div class="card-body" *ngIf="isEmptyVenues()">
            List of restaurants:
            <ul class="list-group" *ngFor="let place of plan.venues">
                <li class="list-group-item">{{ place }}</li>
            </ul>
        </div>
        <div *ngIf="!isEmptyVenues()">
            No venues yet!
        </div>
    </div>
</div>